html {
  --lumo-size-xl: 3rem;
  --lumo-size-l: 2.5rem;
  --lumo-size-m: 2rem;
  --lumo-size-s: 1.75rem;
  --lumo-size-xs: 1.5rem;
  --lumo-border-radius: 0.5em;
  --lumo-primary-text-color: rgba(7, 182, 167, 0.86);
  --lumo-primary-color-50pct: rgba(7, 182, 167, 0.5);
  --lumo-primary-color-10pct: rgba(7, 182, 167, 0.1);
  --lumo-primary-color: rgba(7, 182, 167, 0.86);
  --lumo-primary-contrast-color: #fffefaff;
  --lumo-tint-5pct: rgba(33, 196, 177, 0.05);
  --lumo-tint-10pct: rgba(33, 196, 177, 0.1);
  --lumo-tint-20pct: rgba(33, 196, 177, 0.2);
  --lumo-tint-30pct: rgba(33, 196, 177, 0.3);
  --lumo-tint-40pct: rgba(33, 196, 177, 0.4);
  --lumo-tint-50pct: rgba(33, 196, 177, 0.5);
  --lumo-tint-60pct: rgba(33, 196, 177, 0.6);
  --lumo-tint-70pct: rgba(33, 196, 177, 0.7);
  --lumo-tint-80pct: rgba(33, 196, 177, 0.8);
  --lumo-tint-90pct: rgba(33, 196, 177, 0.9);
  --lumo-tint: #21c4b1d4;
  --lumo-base-color: #ffffffa8;
}

[theme~="dark"] {
  --lumo-base-color: hsl(214, 35%, 21%);
  --lumo-primary-text-color: rgba(7, 182, 167, 0.86);
  --lumo-primary-color-50pct: rgba(7, 182, 167, 0.5);
  --lumo-primary-color-10pct: rgba(7, 182, 167, 0.1);
  --lumo-primary-color: hsla(175, 93%, 37%, 0.86);
  --lumo-tint-5pct: rgba(245, 249, 255, 0.05);
  --lumo-tint-10pct: rgba(245, 249, 255, 0.1);
  --lumo-tint-20pct: rgba(245, 249, 255, 0.2);
  --lumo-tint-30pct: rgba(245, 249, 255, 0.3);
  --lumo-tint-40pct: rgba(245, 249, 255, 0.4);
  --lumo-tint-50pct: rgba(245, 249, 255, 0.5);
  --lumo-tint-60pct: rgba(245, 249, 255, 0.6);
  --lumo-tint-70pct: rgba(245, 249, 255, 0.7);
  --lumo-tint-80pct: rgba(245, 249, 255, 0.8);
  --lumo-tint-90pct: rgba(245, 249, 255, 0.9);
  --lumo-tint: hsl(214, 100%, 98%);
  --lumo-shade-5pct: rgba(22, 32, 44, 0.05);
  --lumo-shade-10pct: rgba(22, 32, 44, 0.1);
  --lumo-shade-20pct: rgba(22, 32, 44, 0.2);
  --lumo-shade-30pct: rgba(22, 32, 44, 0.3);
  --lumo-shade-40pct: rgba(22, 32, 44, 0.4);
  --lumo-shade-50pct: rgba(22, 32, 44, 0.5);
  --lumo-shade-60pct: rgba(22, 32, 44, 0.6);
  --lumo-shade-70pct: rgba(22, 32, 44, 0.7);
  --lumo-shade-80pct: rgba(22, 32, 44, 0.8);
  --lumo-shade-90pct: rgba(22, 32, 44, 0.9);
  --lumo-shade: hsl(214, 33%, 13%);
}